
/* --------------------------------

    フリップアニメーション各種
    ・flipDownAnime： 下回転
    ・flipLeftAnime： 左回転
    ・flipRightAnime：右回転

-------------------------------- */
@keyframes flipDownAnime{
    from {
        transform: perspective(2500px) rotateX(100deg);
        opacity: 0;
    }
    to {
        transform: perspective(2500px) rotateX(0);
        opacity: 1;
    }
}
@keyframes flipLeftAnime{
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }
    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipRightAnime{
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(-30deg);
        opacity: 0;
    }
    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

.a{
    &-flipDown{
        animation-name: flipDownAnime;
        animation-fill-mode:forwards;
        opacity: 0;
    }
    &-flipLeft{
        animation-name: flipLeftAnime;
        animation-fill-mode:forwards;
        opacity: 0;
    }
    &-flipRight{
        animation-name: flipRightAnime;
        animation-fill-mode:forwards;
        opacity: 0;
    }
    
    // 速度調整
    &.-item01{animation-duration:0.5s;}
    &.-item02{animation-duration:0.75s;}
    &.-item03{animation-duration:1.25s;}
    &.-item04{animation-duration:1.75s;}
    &.-item05{animation-duration:2.25s;}

    img{
        filter: drop-shadow(2px 2px 2px gray);
        transition: 1s all;
    }
}