
/* ----------------------------------------------------------------

    各種アニメーションクラスに「a-inScroll」クラスを
    付与することでスクロール量に応じてアニメーション量が変化する。
    ・-sc-S：画面の40％下から変化開始～画面の40%で変化終了
    ・-sc-M：画面の30％下から変化開始～画面の50%で変化終了
    ・-sc-L：画面の20％下から変化開始～画面の55%で変化終了

---------------------------------------------------------------- */
.a-inScroll{
    animation-timeline: view();
    &.-sc-S{animation-range: entry -40% contain 40%;}
    &.-sc-M{animation-range: entry -30% contain 50%;}
    &.-sc-L{animation-range: entry -20% contain 55%;}
}