// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	position: relative;
	.imgBox{
		&.-sp{
			@include max(768){
				width: 100vw;
				height: 710px;//スマホの１画面分
			}
		}
	}
	&.-returnBtn{
		a{
			display: block;
			width: 20%;
			border-radius: 5px;
			overflow: hidden;
			margin: auto;
			text-align: center;
			box-shadow: 1px 1px gray;
			@include min(768){width: 6%;}
			@include min(1400){width: 7%;}
		}
	}
	&.-slider{//カルーセル

	}
	&.-imgBg{//背景画像
		.c-contentsBox{//背景要素内 > 設置場所
			position: absolute;
			&.-center{ // 基本
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}
		}
	}

	&.w1100{
		@include min(768){
			width: 80%;
			max-width: 1100px;
			margin: auto;
		}
		@include min(1600){width: 65%;}
	}
	&.w95s{
		@include max(768){
			width: 95%;
			margin: auto;
		}
	}
	&.w90s{
		@include max(768){
			width: 90%;
			margin: auto;
		}
	}
	&.w85s{
		@include max(768){
			width: 85%;
			margin: auto;
		}
	}
	&.w80s{
		@include max(768){
			width: 80%;
			margin: auto;
		}
	}
}
